.venv/
.pio/
.platformio/
__pycache__/
.pytest_cache/
*.egg-info/
data/raw/
data/manifest.csv
artifacts/
firmware/include/model_data.h
firmware/generated/
wokwi.vcd
*.wav
*.flac
privado/
audios/**
!audios/positivo/
!audios/negativo/
!audios/teste/
!audios/**/.gitkeep
